@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body,html{
    font-family: 'Pirata One', cursive;
    top: 0px !important;
}
.google-translate-bar{
    position: absolute;

}

.goog-te-gadget-simple {
    background-color: rgb(175, 149, 0) !important;
    border: none !important;
    font-size: 4rem;
    padding: 0.5em 0.5em !important;
    margin-left: auto;
    border-radius: 0.5em;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
}
.goog-te-banner-frame{
    display:none !important;
}

.goog-te-gadget-icon {
    display:none;
  }

#google_translate_element {
    text-align: right;
}
.header-container{
    
}
.main-background{
    position: absolute;
    z-index: -10;
}
.main-header-text{
    
    height: 20%;
    font-size:2.1em;
    color: rgb(175, 149, 0);
}
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10em;
}
.header-container h1{
    
}
.main-header-left{
    margin: auto 0 .5em .2em;
    flex: 0 0 25%;
}
.main-header-right{
    display: flex;
    flex: 0 0 25%;
    flex-direction: row-reverse;
    margin: auto .2em .5em 0;
    
}
.header-pic{
    width: 100%;
    height: 10em;
    object-fit: cover;
    position: absolute;
    z-index: -3;
    box-shadow: 0 0 10px black;
}
.main-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.main-nav img{
    width: 100%;
    height: 4em;
    position: absolute;
    border: 2px ;
    z-index: -5;
}

a:hover{
    color: azure;
}
.main-nav a{
    text-decoration: none;
    min-width: 3em;
    text-align: center;
    border: 2px solid black;
    border-radius: .3em;
    font-size: 1.5em;
    margin: .3em 0 .3em 0;
    box-shadow: 0 0 5px black;
    padding: .2em .2em .2em .2em;
    color: rgb(121, 1, 1);
}
.search-item{
    padding: .5em;
    width: 15em;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.search-container input {
    padding: .5em;
    border: 1px solid grey;
    opacity: .5;
    width: 30%;
    border-radius: .5em 0 0 .5em;
   
}

.search-container button {
    width: 10%;
    padding: .6em;
    background-color:rgb(121, 1, 1);
    color:white;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0 .5em .5em 0;
}

.table-selector {
    margin: auto;
    margin-top: 5em;
    padding: 10px;
    border: 2px solid black;   
        
    width: 85%;
    background-color: rgb(215, 208, 172);
}



